node_modules
dist
coverage
test-results
tests/e2e/report
.git
.gitignore
.husky
*.md
!README.md
.vscode
.trae
.claude
.env.development
.env.example
components.d.ts
stats.html
playwright.config.ts
vitest.config.js
